body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #ff9900;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
}

.form-group{
    padding: 10px;
}

.btn {
    padding: 10px;
}

.login-main-text{
    margin-top: 15%;
    padding: 60px;
    color: #fff;
}

.right {
    margin-top: 40%;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #ff9900 !important;
    color: #fff !important;
}

.btn-primary {
    background-color: #b36b00 !important;
    color: #fff !important;
    border: none !important;
}

#upload_product {
    display: block;
}

#upload_product-btn {
    opacity: 1.0;
}

#products_list {
    display: none;
}

#products_list-btn {
    opacity: 0.5;
}

#questions_list {
    display: none;
}

#questions_list-btn {
    opacity: 0.5;
}

#users_list {
    display: none;
}

#users_list-btn {
    opacity: 0.5;
}

.logout {
    background-color: rgba(179, 107, 0, 0.3) !important;
    border: none !important;
    color: #fff !important;
    margin-left: 10% !important;   
}