<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/admin_home.css" th:href="@{/css/admin_home.css}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Admin home</title>
    </head>
    <div class="sidenav">
        <a href="Logout" class="btn logout">Logout</a>
        <div class="login-main-text">
            <h2 th:text="${'Welcome back, ' + session.admin.username}"><br>home page</h2>
            <p>This is your home page. From here you can insert and inspect products and questionnaires.</p>
            <a href="#" class="btn btn-primary" id="product_upload-btn">Upload product</a><br>
            <a href="AdminSeeProducts" class="btn btn-primary" id="products_list-btn">Show all products</a><br>
            <a href="AdminSeeQuestionnaires" class="btn btn-primary" id="questions_list-btn">Show all questionnaires</a><br>
            <a href="AdminSeeUsers" class="btn btn-primary" id="users_list-btn">Show all users</a><br>
        </div>
    </div>

    <div class="main">
        <div class="col-md-10 col-sm-12">
            <div class="right upload-product_form" id="product_upload">
                <form action="InsertProduct" method="post" enctype="multipart/form-data">
                    <input type="text" id="questions_counter" name="questions_counter" value="1" style="display: none"></input>
                    <div class="form-group">
                        <label>Product name</label>
                        <input type="text" class="form-control" placeholder="Product name" name="name">
                    </div>
                    <div class="form-group">
                        <label>Day for the product</label>
                        <input type="date" class="form-control" name="date">
                    </div>
                    <div class="form-group">
                        <label>Select an image for the product</label>
                        <input type="file" class="form-control" name="image">
                    </div>
                    <div class="container-fluid form-question" id="div-questionnaire">
                        <div class="row">
                            <div class="col-9">
                                <label>Create a questionnaire for the product</label>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-insert" title="Add question" onclick="add_question_()" name="add_question" id="add_question">Add</button>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-delete" title="Delete all questions" onclick="delete_all_questions()" name="add_question" id="delete_all_questions">DeleteAll</button>
                            </div>
                        </div>
                        <div id="table-questionnaire">
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-control" name="question1" id="question1" placeholder="Question #1">
                                </div>
                            </div>
                        </div>
                        </div>
                    <p th:text="${message}"></p>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("product_upload-btn").style.opacity = 1;
            document.getElementById("users_list-btn").style.opacity = 0.5;
            document.getElementById("products_list-btn").style.opacity = 0.5;
            document.getElementById("questions_list-btn").style.opacity = 0.5;
        }

        function delete_all_questions() {
            let div_quest = document.getElementById("table-questionnaire");
            let rows = div_quest.getElementsByClassName("row");
            console.log(rows.length)
            for(let i=rows.length-1; i>=0; i--) {
                let inp = rows[i].getElementsByTagName("input")[0];
                let num = parseInt(inp.id.substr("question".length));
                if(num !== 1) {
                    console.log("Removing " + num);
                    rows[i].remove();
                }
            }
            refresh_questions();
        }

        function refresh_questions() {
            let div_quest = document.getElementById("table-questionnaire");
            let rows = div_quest.getElementsByClassName("row");
            let count = rows.length;
            document.getElementById("questions_counter").value = count.toString();
            for(let i=0; i<count; i++) {
                let quest = rows[i].getElementsByTagName("input")[0];
                quest.placeholder = "Question #"+(i+1);
                quest.id = "question"+(i+1);
                quest.name = "question"+(i+1);
            }
        }

        function add_question_() {
            let div_quest = document.getElementById("table-questionnaire");
            let inputs = div_quest.getElementsByTagName("input");
            let lastQuestion = inputs[inputs.length-1].id.substr(inputs[inputs.length-1].id.length - 1);
            lastQuestion = parseInt(lastQuestion) + 1;

            let new_row = document.createElement("div");
            new_row.classList.add("row");
            div_quest.appendChild(new_row);

            let new_inp_div = document.createElement("div");
            new_inp_div.classList.add("col-9");
            new_row.appendChild(new_inp_div);

            let new_inp = document.createElement("input");
            new_inp.id = "question"+lastQuestion;
            new_inp.classList.add("form-control");
            new_inp.name = "question"+lastQuestion;
            new_inp.placeholder = "Question #"+lastQuestion;

            new_inp_div.appendChild(new_inp);

            let new_btn_div = document.createElement("div");
            new_btn_div.classList.add("col-3");
            new_row.appendChild(new_btn_div);

            let new_btn = document.createElement("button");
            new_btn.id = "button"+lastQuestion;
            new_btn.classList.add("btn-delete");
            new_btn.classList.add("btn");
            new_btn.name = "button"+lastQuestion;
            new_btn.text = "-";
            new_btn.type = "button";
            new_btn.title = "Delete question #"+lastQuestion;
            new_btn.onclick = function() {delete_question(new_row);};

            new_btn_div.appendChild(new_btn);

            refresh_questions();
        }

        function delete_question(row) {
            row.remove();
            refresh_questions();
        }
    </script>
</html>