<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="left">
		<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>
	</div>

	<h1 align="center">Welcome to the Product of the Day Home Page</h1>

	<div align="center" th:background="red">
		<a th:text="${productOfDay.name}"></a><br>
		<img th:src="@{'data:image/png;base64,' + ${productOfDay.getBase64Img()}}" width="200" height="200"> <br>
		<a th:text="${productOfDay.reviews }"></a><br>
		<a th:href="@{/QuestionnairePt1}">Fill the questionnaire</a><br>
	</div>
</body>
</html>