<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" media="all"
		  href="../css/home_page.css" th:href="@{/css/home_page.css}"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Leaderboard page</title>
</head>
<body>
<div class="sidenav">
	<div>
		<a href="Logout" class="btn logout">Logout</a>
	</div>
	<div class="login-main-text">
		<h2 th:text="${'Welcome back, ' + session.user.name + ' ' + session.user.surname}"><br>home page</h2>
		<p>This is the leaderboard for the questionnaire of the day.</p>
		<a href="Home" class="btn btn-side">Home</a>
	</div>
</div>
<div class="main">
	<div class="questionnaire">
		<img class="product-img" th:src="@{'data:image/png;base64,' + ${session.productOfDay.getBase64Img()}}" width="full" height="300">
		<h1 th:text="${'Product of the day: ' + session.productOfDay.name}"></h1>
		<div class="form-group">
				<ol>

					<li th:each="a : ${userAnswers}">
						<div class="row">
								<div class="col">
									<p class="question" th:text="${a.relatedUser.username}"></p>
								</div>
								<div class="col">
									<p class="question" th:text="${a.pointsEarned}"></p>
								</div>
						</div>
					</li>
					<!--
					<li th:each="u : ${users}">
						<div class="container">
							<div class="row">
								<div class="col"><p class="question" th:text="${u.username}"></p></div>
								<div class="col"><p class="question" th:text="${u.points}" ></p></div>
							</div>
						</div>
					</li>
					-->
				</ol>
		</div>
	</div>
</div>
</body>
</html>