<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/home_page.css" th:href="@{/css/home_page.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Questionnaire completed!</title>
</head>
<body>
<div class="sidenav">
    <div>
        <a href="Logout" class="btn logout">Logout</a>
    </div>
    <div class="login-main-text">
        <h2 th:text="${'Welcome back, ' + session.user.name + ' ' + session.user.surname}"><br>home page</h2>
        <p>This is the product of the day. Answer the questionnaire and gain points.</p>
        <a href="Home" class="btn btn-side" id="new-review-btn">Home page</a><br>
        <a href="NewReview" class="btn btn-side" id="questionnaire-btn">Write review</a><br>
    </div>
</div>
<div class="main">
    <div class="questionnaire">
        <div>
            <img class="product-img" th:src="@{'data:image/png;base64,' + ${session.productOfDay.getBase64Img()}}" width="full" height="300">
            <div class="div-reviews">
                <h1 th:text="${'Product of the day: ' + session.productOfDay.name}"></h1>
                <div class="container-fluid" th:if="${session.userAnswer != null}">
                    <h3>You have completed the questionnaire</h3>
                    <div class="row">
                        <div class="col">
                          <h5>Questions</h5>
                        </div>
                        <div class="col">
                            <h5>Answers</h5>
                        </div>
                        <div class="col">
                            <h5>Question type</h5>
                        </div>
                    </div>
                    <div class="row" th:each="usrans : ${session.userAnswer.answers}">
                        <div class="col">
                            <p th:text="${usrans.key.description}"></p>
                        </div>
                        <div class="col">
                            <p th:text="${usrans.value}"></p>
                        </div>
                        <div class="col">
                            <p th:text="${usrans.key.type}"></p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" th:if="${errorMsg != null}">
                    <h4>Error in saving the questionnaire</h4>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>