<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Marketing Questions</h1>

	<form action="#" th:action="@{/QuestionnairePt1}" method="POST">
		<fieldset>
			<p th:each="q : ${questionnaire.marketingQuestions}">
				<label  for="qst" th:text="${q.description}"></label><br>
				<input type="text" id="qst" name="qst" required><br><br>
			</p>
		</fieldset>
		<a th:href="@{/QuestionnairePt2}">Next</a><br>
	</form>




</body>
</html>